.about {
  background: linear-gradient(#fff, #03254c, #03254c, #03254c);
}

/* ******************** Section One Starts from Here ******************** */

/* .about-section1 {
  margin-inline: clamp(1.5rem, 10vw, 30rem);
  margin-block: clamp(3rem, 10vh, 5rem);
} */


.about-section1 h1 {
  font-size: clamp(3rem, 10vw, 20rem);
  font-weight: 900;
  letter-spacing: 0.2ch;
  background: -webkit-linear-gradient(#03254c, #2a9df4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ******************** Section Two Starts from Here ******************** */

.about-section2 {
  margin: 6rem 10rem;
}

.about-section2 h1 {
  font-size: 4.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.about-section2 p {
  line-height: 2;
  text-align: justify;
  color: #73777b;
}

/* ******************** Section Three Starts from Here ******************** */

.about-section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section3-text-area {
  margin-inline: 5rem;
}

.about-section3-text-area h1 {
  color: #fff;
  margin-bottom: 2rem;
}

.about-section3-text-area p {
  line-height: 2.2;
  text-align: justify;
  color: #7f8487;
}

.about-section3 img {
  width: 63.1rem;
}
