/* ******************** Section One Starts from Here ******************** */


/* ******************** Section Two Starts from Here ******************** */

.contact .section2 {
  padding: clamp(1.5rem, 1.5vw, 5rem);
  background-color: var(--black-color);
  color: var(--yellow-color);
}

.section2 .title {
  text-align: center;
  margin-bottom: 8rem;
}

.section2 .timing {
  margin-top: 6rem;
  text-align: center;
}

.section2 .timing span {
  margin-left: 2rem;
}

.section2 .section2-subsection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  place-items: center;
  gap: 3rem;
}

.subsection-left-side,
.subsection-right-side {
  max-width: 40rem;
  min-height: 15rem;
  display: flex;
  align-items: center;
}

.subsection-left-side ul li,
.subsection-right-side ul li {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  cursor: pointer;
}

.subsection-left-side ul li span,
.subsection-right-side ul li span {
  margin-left: 2.2rem;
  transition: 0.5s ease;
}

.subsection-left-side ul li span:hover,
.subsection-right-side ul li span:hover {
  margin-left: 3rem;
}

/* ******************** Section Three Starts from Here ******************** */

.section3 {
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--silk-color);
}

.section3 .offices-title {
  font-size: clamp(5.5rem, 3.5vw, 7.2rem);
  text-align: center;
  margin-bottom: 5rem;
  color: var(--yellow-color);
}

.section3-sub {
  position: relative;
  width: 35rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.section3-sub .title-china {
  font-size: clamp(4.5rem, 3.5vw, 6rem);
  letter-spacing: 0.5ch;
  color: var(--black-color);
}

.section3-sub-overlay {
  position: absolute;
  bottom: 100%;
  background-color: var(--black-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease-in-out;
  border-radius: 0.5rem;
}

.section3-sub:hover .section3-sub-overlay {
  bottom: 0;
  height: 100%;
}

.section3-sub-text {
  color: white;
}

.section3-sub ul .section3-sub-li {
  width: 35rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.section3-sub ul .section3-sub-li span {
  margin-left: 2rem;
}

/* ******************** Section Four Starts from Here ******************** */

.section4 {
  padding-block: 5rem;
  background-color: #fff;
}

.section4 .title-pakistan,
.section5 h2 {
  font-size: clamp(4.5rem, 3.5vw, 6rem);
  letter-spacing: 0.5ch;
  color: var(--black-color);
  text-align: center;
}

.contact-sec4-cards {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 3rem;
  place-items: center;
  cursor: pointer;
}
.contact-sec4-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.contact-sec4-content1 {
  background: #2c73df;
}
.contact-sec4-card-title {
  color: #fff;
  font-size: clamp(1rem, 3.5vw, 4rem);
}

.contact-sec4-slide {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.contact-sec4-slide.contact-sec4-slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}

.contact-sec4-card:hover .contact-sec4-slide.contact-sec4-slide1 {
  transform: translateY(0px);
}

.contact-sec4-slide.contact-sec4-slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.contact-sec4-card:hover .contact-sec4-slide.contact-sec4-slide2 {
  transform: translateY(0);
}
.contact-sec4-slide.contact-sec4-slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #2c73df;
}

.contact-sec4-slide.contact-sec4-slide2 .contact-sec4-content p {
  text-align: center;
  color: #414141;
}

.contact-sec4-slide.contact-sec4-slide2 .contact-sec4-content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

.contact-sec4-content ul li {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
}

.contact-sec4-content ul li span {
  margin-left: 0.5rem;
}

/* ******************** Section Five Starts from Here ******************** */

.section5 {
  padding-block: 5rem;
  background-color: var(--silk-color);
}

.section5 .section5-title {
  font-size: 3.5rem;
  margin-block: 5rem;
}

.box-container {
  margin-inline: 1rem;
  margin-top: 12rem;
  margin-bottom: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  row-gap: 5rem;
  place-items: center;
  cursor: pointer;
}

.box {
  position: relative;
  width: 35rem;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.box:nth-child(1) {
  background-image: url("../images/faisalabad.jpg");
}

.box:nth-child(2) {
  background-image: url("../images/Lahore.jpg");
}

.box:nth-child(3) {
  background-image: url("../images/Karachi.jpg");
}

.box:nth-child(4) {
  background-image: url("../images/Islamabad.jpg");
}

.box-hover {
  position: absolute;
  top: 100%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease-in-out;
  border-radius: 0.5rem;
  backdrop-filter: blur(5px);
  background-color: rgb(0, 0, 0, 0.5);
  color: var(--yellow-color);
}

.box:hover .box-hover {
  top: 0;
  height: 100%;
  padding: 1.5rem;
}

.box ul li {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.box ul li span {
  margin-left: 2rem;
}

.box .box-title {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
