.footer {
  background: #3e3e3e;
  padding: 2rem 0;
}

.footer p {
  text-transform: capitalize;
  text-align: center;
  padding: 1.5rem;
  padding-top: 2.5rem;
  margin-top: 2rem;
  color: white;
}

.footer p img{
    width: 130px;
}