.footer {
  background: var(--midnight);
  padding: 3rem;
  color: var(--clouds);
}

.footer .footer-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 8rem;
}

.footer .footer-box-container .footer-box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  text-transform: capitalize;
  color: var(--yellow-color);
}

.footer .footer-box-container .footer-box a {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 1.5rem 0;
  color: var(--clouds);
  text-transform: capitalize;
}

.footer .footer-box-container .footer-box a i {
  padding-right: 1rem;
  color: var(--yellow-color);
  transition: 0.2s linear;
}

.footer .footer-box-container .footer-box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  padding-top: 2.5rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
  color: var(--silk-color);
}
