
.InstallerArea-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343f4f;
  color: #eee;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/solar-power-panel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Video Area */

.installer-video-area {
  padding: 5rem;
}

.installer-video-area h4 {
  margin-bottom: 5rem;
  text-align: center;
}

/* Warranty Area */

.installerarea-warranty{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/power-solar-panels-against-blue-sky-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  color: #eee;
}
.warranty-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 0 5rem;
}

.installerarea-warranty h4 {
  margin-bottom: 5rem;
  text-transform: capitalize;
  text-align: center;
}

.warranty-info-div,
.warranty-status-div,
.warranty-extension-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warranty-info-div h6,
.warranty-status-div h6,
.warranty-extension-div h6 {
  margin-bottom: 2rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
}

.warranty-info-div h6::after,
.warranty-status-div h6::after,
.warranty-extension-div h6::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0%;
  background-color: purple;
  width: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  height: 0.1rem;
  transition: 0.3s;
}

.warranty-info-div h6:hover::after,
.warranty-status-div h6:hover::after,
.warranty-extension-div h6:hover::after {
  width: 100%;
  left: 0%;
}

.warranty-info-div p,
.warranty-status-div p,
.warranty-extension-div p {
  margin: 2rem 0;
  text-align: justify;
  color: #fff;
  padding: 1rem;
}

.warranty-info-div .btn:hover,
.warranty-status-div .btn:hover,
.warranty-extension-div .btn:hover {
  background-color: purple;
}

/* Download Area */

.InstallerArea-download {
  padding: 10rem;
}

.download-block {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.download-block-1st button {
  font-size: 2.2rem;
  background: none;
}
