.InstallerArea {
  padding: 5rem;
}

.InstallerArea h5 {
  background: linear-gradient(blueviolet, violet);
  height: 50vh;
}

.installer-video-area,
.installerarea-warranty,
.InstallerArea-download {
  display: grid;
  place-items: center;
}

.installer-video-area h4,
.installerarea-warranty h4,
.InstallerArea-download h4 {
  margin: 8rem 0;
  text-transform: uppercase;
  color: blue;
  letter-spacing: 0.1ch;
  border-bottom: 2px solid blueviolet;
  font-family: var(--style-family);
}

/* Warranty Area */

.warranty-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 0 5rem;
}

.warranty-info-div,
.warranty-status-div,
.warranty-extension-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warranty-info-div h6,
.warranty-status-div h6,
.warranty-extension-div h6 {
  margin-bottom: 2rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
}

.warranty-info-div h6::after,
.warranty-status-div h6::after,
.warranty-extension-div h6::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0%;
  background-color: purple;
  width: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  height: 0.1rem;
  transition: 0.3s;
}

.warranty-info-div h6:hover::after,
.warranty-status-div h6:hover::after,
.warranty-extension-div h6:hover::after {
  width: 100%;
  left: 0%;
}

.warranty-info-div p,
.warranty-status-div p,
.warranty-extension-div p {
  margin: 2rem 0;
  text-align: justify;
  color: #717171;
  padding: 1rem;
}

.warranty-info-div .btn:hover,
.warranty-status-div .btn:hover,
.warranty-extension-div .btn:hover {
  background-color: purple;
}
/* 
.hover {
  border: 8px solid;
  border-image: repeating-linear-gradient(135deg,#F8CA00 0 10px,#E97F02 0 20px,#BD1550 0 30px) 8;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}
.hover:hover {
  --_i: 100%;
  color: #CC333F;
  transition: .3s, -webkit-mask-size .3s .3s;
} */

/* freefrontend */
