
.InstallerArea-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343f4f;
  color: #eee;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/4.Installer-area-images/solar-power-panel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-transform: uppercase;
}

/* Video Area */

.installer-video-area {
  padding: clamp(1rem, 3.5vw, 5rem);
}

.installer-video-area h4 {
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

/* Warranty Area */

.installerarea-warranty{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/4.Installer-area-images/power-solar-panels-against-blue-sky-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  color: #eee;
}
.warranty-div {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  place-items: center;
}

.installerarea-warranty h4 {
  text-transform: uppercase;
  text-align: center;
}

.warranty-info-div,
.warranty-status-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border: 1px solid gray;
  box-shadow: var(--box-shadow);
}

.warranty-info-div h6,
.warranty-status-div h6{
  text-transform: capitalize;
  text-align: center;
  position: relative;
}

.warranty-info-div h6::after,
.warranty-status-div h6::after{
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0%;
  background-color: purple;
  width: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  height: 0.1rem;
  transition: 0.3s;
}

.warranty-info-div h6:hover::after,
.warranty-status-div h6:hover::after {
  width: 100%;
  left: 0%;
}

.warranty-info-div p,
.warranty-status-div p {
  text-align: justify;
  color: #fff;
  padding: 4rem;
  line-height: 2;
  letter-spacing: 0.1ch;
}

.warranty-info-div .btn,
.warranty-status-div .btn{
  background-color: #ffbf00;
}

.warranty-info-div .btn:hover,
.warranty-status-div .btn:hover{
  background-color: purple;
}


