.products {
  text-align: center;
}

.products h6 {
  margin-top: 2rem;
  text-transform: uppercase;
}

.product-box {
  min-height: 80vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  place-items: center;
  margin: 5rem 0;
}

.product-single-phase-1,
.product-single-phase-2 {
  background-color: #f7f5f2;
  padding: 2rem clamp(2rem, 1.5vw, 5rem);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease;
}

.product-single-phase-1 img,
.product-single-phase-2 img {
  transition: 1s ease;
}

.btn {
  background: #313131;
  color: #fff;
  margin-top: 1rem;
}

.product-single-phase-1:hover img,
.product-single-phase-2:hover img {
  transform: scale(1.1);
}

.product-single-phase-1:hover .btn,
.product-single-phase-2:hover .btn {
  transform: translateY(-5px);
  background-color: #f1356d;
}

.product-single-phase-1:hover,
.product-single-phase-2:hover {
  color: #fff;
  background: #313131;
}
