.products {
  text-align: center;
}

.products .product-box .product-box-subbox a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products h5 {
  text-transform: uppercase;
  margin: 3rem 0;
}

.product-box {
  min-height: 80vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  place-items: center;
  gap: 3rem;
  padding: 2rem;
}

.product-box-subbox {
  background-color: #f7f5f2;
  padding: 2rem clamp(3rem, 1.5vw, 5rem);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.product-box-subbox img {
  transition: 1s ease;
}

.product-box-subbox p {
  margin-bottom: 3rem;
}

.btn {
  background: #313131;
  color: #fff;
  margin-top: 1rem;
}

.product-box-subbox:hover img{
  transform: scale(1.1);
}

.product-box-subbox:hover .btn{
  transform: translateY(-5px);
  background-color: #f1356d;
}

.product-box-subbox:hover {
  color: #fff;
  background: #313131;
}
