.videoslider {
  position: relative;
  display: grid;
  place-items: center;
}


.vright-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: clamp(3rem, 3.5vw, 7rem);
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.vleft-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: clamp(3rem, 3.5vw, 7rem);
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.vslide {
  opacity: 0;
  transition-duration: 1s ease;
}

.vslide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
