/* ******************** Google Fonts Link ******************** */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Playfair+Display:ital,wght@1,500;1,700&family=Saira+Stencil+One&display=swap");

.warranty-check {
  font-size: 1.6rem;
  min-height: 100vh;
  padding: 3rem;
  background-color: #f7ecde;
}

.warranty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background: none;
  border: none;
  outline: none;
  width: clamp(25rem, 58.5vw, 85rem);
  margin: 2rem 0;
  font-size: 1.8rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #000;
}

.add {
  background-color: #3ab0ff;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: 2rem;
}

.item {
  position: relative;
  width: clamp(25rem, 58.5vw, 85rem);
  margin-top: 1rem;
  background-color: #54bab9;
  color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto;
  line-height: 1.5;
}

.htext {
  font-weight: bold;
}

/* ******************** Global Settings ******************** */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #2c3639;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

:root {
  --black-color: #1b1a17;
  --yellow-color: #f0a500;
  --orange-color: #e45826;
  --silk-color: #e6d5b8;
  --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  --primary-family: "Lato", sans-serif;
  --secondary-family: "Playfair Display", serif;
  --style-family: "Saira Stencil One", cursive;
  --midnight: #2c3e50;
  --clouds: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  min-height: 100%;
  max-width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: var(--primary-family);
}

.btn {
  border-radius: 5rem;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
  text-transform: capitalize;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}

li {
  font-size: 1.6rem;
  list-style: none;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5.2rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 3.6rem;
}

h6 {
  font-size: 2.6rem;
}

p {
  font-size: 2rem;
}

.lighterH {
  font-size: 1.8rem;
}

.lighterP {
  font-size: 1.4rem;
}

/* ******************** Media Queries ******************** */

@media screen and (min-width: 750px) {
  .menubars {
    display: none;
    color: #1b1a17;
  }
}

@media only screen and (max-width: 750px) {
  /* home ka section four */

  .home .home-sec4 {
    display: none;
  }

  /* home ka qstn and ans ka section */

  .home .home-sec6 {
    padding-inline: 0;
  }

  .home .home-sec6 .accordionsection {
    padding: 0;
  }

  /* About Page ka section one */

  .about .scroll-section {
    min-height: 60vh;
  }

  .about .scroll-section .about-section3 img {
    display: none;
  }

  .about .scroll-section .about-section3 {
    justify-content: center;
  }

  .about .scroll-section .about-section3 .about-section3-text-area {
    margin: 2rem;
  }

  /* Installer Area  */

  .InstallerArea
    .installerarea-warranty
    .warranty-div
    .warranty-info-div
    .warranty-buttons {
    display: flex;
    flex-direction: column;
  }

  /* .navbar {
    display: flex;
    justify-content: space-between;
  } */

  .navbar .navlinks {
    min-height: 80vh;
    position: absolute;
    width: 100%;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #05595b;
    transform: translateY(-1000%);
    transition: transform 0.5s ease;
  }

  .navbar .navlinks a {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem 0;
    width: 100%;
    transition: bacground-color 0.3s linear;
  }

  .navbar .navlinks a:hover {
    font-weight: bold;
  }

  .navbar .navlinks.active {
    transform: translateY(0%);
  }
}

/* ***************************************************************************************************** */
